/*
  Open Rowing Monitor, https://github.com/laberning/openrowingmonitor
*/
body {
    background-color: #00091c;
    color: white;
    margin: 0;
    font-size: calc(16px + (60 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    user-select: none;
    overscroll-behavior: contain;
}

.grid {
    display: grid;
    height: calc(100vh - 2vw);
    padding: 1vw;
    grid-gap: 1vw;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.col {
    background: #002b57;
    text-align: center;
}

@media (orientation: portrait) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(4, minmax(0, 1fr));
    }

    body {
        font-size: calc(16px + (60 - 16) * ((100vh - 300px) / (1920 - 300)));
    }
}

#windowed-icon {
  display: none;
}

@media (display-mode: fullscreen) {
  #fullscreen-icon {
    display: none;
  }
  #windowed-icon {
    display: inline;
  }
}

div.label, div.content {
    padding: 5% 1%;
}

.icon {
  height: 1.8em;
}

.metric-value {
    font-size: 150%;
}

.metric-unit {
    font-size: 80%;
}

button {
  outline:none;
  /* background-color: #00468c; */
  background-color: #365080;
  border: 0;
  color: white;
  padding: 0.6em 0.9em 0.4em 0.9em;
  margin: 0.2em;
  font-size: 70%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 3.5em;
}

#close-button {
  display:none;
}
