/*
  Open Rowing Monitor, https://github.com/laberning/openrowingmonitor
*/
body {
    background-color: #00091c;
    color: white;
    margin: 0;
    font-size: calc(16px + (60 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    user-select: none;
    overscroll-behavior: contain;
}

.grid {
    display: grid;
    height: calc(100vh - 2vw);
    padding: 1vw;
    grid-gap: 1vw;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.col {
    background: #002b57;
    text-align: center;
    padding: 0.5em 0.2em 0 0.2em;
}

.col.actions {
  padding: 0.5em 0 0 0;
}

@media (orientation: portrait) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(4, minmax(0, 1fr));
    }

    body {
        font-size: calc(16px + (60 - 16) * ((100vh - 300px) / (1920 - 300)));
    }
}

#windowed-icon {
  display: none;
}

@media (display-mode: fullscreen) {
  #fullscreen-icon {
    display: none;
  }
  #windowed-icon {
    display: inline;
  }
}

div.label, div.content {
    padding: 0.1em 0;
}

.icon {
  height: 1.8em;
}

#heartrate-battery-container .icon {
  height: 1.2em;
}

#heartrate-battery-container {
  right: 0.2em;
  bottom: 0;
  position: absolute;
  display: none;
}
.metric-value {
    font-size: 150%;
}

.metric-unit {
    font-size: 80%;
}

button {
  outline:none;
  background-color: #365080;
  border: 0;
  color: white;
  padding: 0.5em 0.9em 0.3em 0.9em;
  margin: 0.2em 0;
  font-size: 60%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 3.5em;
}

#close-button, #heartrate-container {
  display: none;
}

#heartrate-container, #strokes-total-container {
  width: 100%;
  height: 100%;
  position: relative;
}
