[Unit]
Description=OpenRowingMonitor
After=multi-user.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=root
Restart=on-failure
WorkingDirectory=/opt/openrowingmonitor
ExecStart=npm start

[Install]
WantedBy=multi-user.target
