[Unit]
Description=X11 Web Browser Kiosk
After=multi-user.target

[Service]
Type=simple
User=pi
Restart=on-failure
WorkingDirectory=/opt/openrowingmonitor
ExecStart=xinit /opt/openrowingmonitor/install/webbrowserkiosk.sh -- -nocursor

[Install]
WantedBy=multi-user.target
